#dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 4rem 0rem;
} 

.dash-card {
    border: var(--primary-border);
    border-width: var(--border-width);
    border-radius: var(--border-radius);
    padding: 2rem;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
} 

.card-header .dash-card-title{
    margin-top: 1.2rem;
} 

.card-header p {
    font-size: 1.2rem;
    color: var(--primary-text-color);
}

.dash-card-btn {
    border: var(--primary-border);
    border-width: var(--border-width);
    border-radius: var(--border-radius);
    padding: 0.7rem 1.8rem;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.3rem;
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: var(--primary-white);
} 

.dash-card:nth-child(1) .card-content .dash-card-btn {
    color: var(--primary-white);
    background-color: var(--primary-blue);
    border-color: var(--primary-blue);
} 

.dash-card:not(:nth-child(1)) .card-content .dash-card-btn:hover {
    color: var(--primary-white);
    background-color: var(--primary-orange);
    border-color: var(--primary-orange);
}

@media (max-width: 1024px) {
    #dashboard {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    #dashboard {
        grid-template-columns: 1fr;
    }

    .dash-card {
        padding: 1.6rem;
    }
}