#doctor-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 4rem 0rem;
    position: relative;
    min-height: 90vh;
}

.doctor-details-content {
    grid-column-end: span 2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.details-main-info,
.details-education,
.details-phone {
    border: 1px solid var(--primary-text-color);
    border-radius: var(--border-radius);
    padding: 1.5rem;
}

.details-main-info .main-info-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.main-info-img {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-info-img img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.main-info-heading {
    padding: 3rem 0rem;
}

.main-info-heading h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.main-info-details h4,
.details-education h4,
.details-phone h4,
.book-doctor-heading h4 {
    font-size: 1.3rem;
}

.main-info-details p {
    font-size: 1.1rem;
    color: var(--secondary-text-color);
}

.details-education ul,
.details-phone ul {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.details-education li,
.details-phone li {
    font-size: 1.1rem;
    color: var(--secondary-text-color);
}

.book-doctor {
    border: 1px solid var(--primary-text-color);
    border-radius: var(--border-radius);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.book-doctor-btn {
    border-radius: var(--border-radius);
    padding: 0.6rem 1.2rem;
    font-size: 1.2rem;
    border: 1px solid var(--primary-blue);
    width: 100%;
    font-weight: bold;
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: var(--primary-blue);
    color: #f3f3f3;
}

.book-doctor-btn:hover {
    cursor: pointer;
    color: var(--primary-white);
} 

.nhif-logo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
} 

.nhif-logo img {
    width: 4rem;
    height: 4rem;
} 

.nhif-logo p {
    font-size: 1.2rem;
} 

.nhif-logo div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

/*CALENDAR*/
.book-calendar {
    border-radius: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    overflow: auto;
    transform: translate(-50%, -50%);
}

.close-btn {
    top: 1rem;
    right: 1rem;
    position: absolute;
    background-color: var(--primary-text-color);
    border: none;
}

.close-btn svg:hover {
    cursor: pointer;
}

.hidden {
    display: none;
} 

.calendar-app {
    /* width: 90%; */
    min-width: 80vmin;
    aspect-ratio: 3 / 2;
    background-color: #f8f9fa;/*var(--primary-background-white);*/
    padding: 1rem 0rem;
    border-radius: 3rem;
    border: 1rem solid var(--primary-blue);
    position: relative;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calendar {
    width: 90%;
    padding: 1rem 0rem;
}

.heading {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
    color: var(--primary-text-color);
    letter-spacing: 0.3rem;
    padding-left: 1.3rem;
}

.navigate-date {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin: 2rem 0;
}

.navigate-date h2 {
    font-size: 2rem;
    color: #bbb;
    padding-left: 1.3rem;
}

.buttons {
    display: flex;
    column-gap: 1rem;
    margin-left: auto;
}

.weekdays {
    width: 100%;
    display: flex;
    margin: 2rem 0;
}

.weekdays span {
    width: calc(100% / 7);
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--weekdays-color);
    letter-spacing: .1rem;
    display: flex;
    justify-content: center;
}

.days {
    display: flex;
    flex-wrap: wrap;
}

.days span {
    font-size: 1.2rem;
    width: calc(100% / 7);
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-text-color);
    cursor: pointer;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
} 

.days span:hover {
    border: 1px solid var(--primary-text-color);
    border-radius: var(--border-radius);
    font-weight: bold;
}

.days .current-day {
    background-color: var(--current-day-color);
    border-radius: 50%;
    color: var(--primary-white);
    box-shadow: 0 0 1.5rem 1rem rgba(239, 144, 17, 0.3);
}

.days span.selected {
    background-color: var(--primary-blue);
    color: var(--primary-white);
    border-radius: 50%;
    font-weight: bold;
}

.days span.selected.current-day {
    background-color: var(--primary-blue);
    color: var(--primary-white);
    box-shadow: 0 0 1.5rem 1rem rgba(0, 0, 0, 0.2);
}

.time-slots {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    gap: 1rem;
    padding: 2rem 0rem;
    border-top: 1px solid var(--primary-text-color);
    border-bottom: 1px solid var(--primary-text-color);
}

.time-slot-btn {
    border: solid #e1e7ef;
    border-width: 0.5px;
    background-color: var(--primary-white);
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: var(--border-radius);
} 

.time-slot-btn:not(:disabled):hover {
    border-color: var(--primary-blue);
    background-color: var(--primary-blue);
    color: var(--primary-white);
} 

.booked {
    text-decoration: line-through;
    background-color: var(--primary-text-color);
    cursor: not-allowed;
} 

.time-slot-btn.selected {
    background-color: var(--primary-blue);
    color: var(--primary-white);
}

.book-btn {
    padding: 2rem 0rem;
    width: 90%;
}

.book-appointment-btn {
    width: 100%;
    text-align: center;
    color: var(--primary-blue);
    background-color: var(--primary-white);
    border: 1px solid var(--primary-blue);
    border-radius: var(--border-radius);
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.book-appointment-btn:disabled {
    cursor: not-allowed;
}

.book-appointment-btn:not(:disabled):hover {
    background-color: var(--primary-blue);
    color: var(--primary-white);
    border: 1px solid var(--primary-blue);
}

/* RESPONSIVE */ 

/* Tablet*/
@media (max-width: 850px) {
    .calendar-app {
        flex-direction: column;
        row-gap: 2rem;
        aspect-ratio: 3 / 2;
    } 

    .calendar {
        width: 80%;
        margin: auto;
    }
} 

/*Mobile*/
@media (max-width: 500px) {
    .calendar-app {
        aspect-ratio: 10 / 9;
    }
}