:root {
    --primary-white: #ffffff; 
    --primary-blue: #3c83f6;
    --primary-orange: #f97015;
    --primary-text-color: #7a7e97;
    --secondary-text-color: #343a40;
    --primary-background-white: #fcfdff;
    --border-radius: 12px;
    --primary-green: #00d062;
}